<h1 class="text-center">Orario Docenti - Classi - Aule</h1>
<div class="row">
  <div class="col-sm-8 col-xs-12" >
    <form id="filter">
      <label>Ricerca:</label>
      <input type="text" name="term" [(ngModel)]="term" />
    </form>
  </div>
  <div class="col-sm-2" >
  </div>
  <div class="col-sm-2" >
  </div>
</div>
<div *ngIf="courses$ | async as courses else noData">
  <div *ngIf="term">
    <div class="row">
      <div class="col-sm-4 col-xs-4 pre-scrollable box-inner-doc">
        <table class="table table-hover table-responsive">
          <thead>
					  <tr>
						<th>Docente</th>
					  </tr>
					</thead>
          <tbody>
            <tr *ngFor="let docente of docentes$ | coursefiltername:term |sort:'DOC_COGN_NOME'">
              <td (click)="buttonDocenteClick(docente.DOC_COGN_NOME)">{{docente.DOC_COGN_NOME}}</td>
            </tr> 
          </tbody>
        </table>
      </div>
      <div class="col-sm-4 col-xs-4 pre-scrollable box-inner-class">
        <table class="table table-hover table-responsive">
          <thead>
					  <tr>
						<th>Classe</th>
					  </tr>
					</thead>
          <tbody>
            <tr *ngFor="let classe of classes$ | coursefilterclasse:term | sort:'CLASSE' ">
              <td (click)="buttonClasseClick(classe.CLASSE)">{{classe.CLASSE}}</td>
            </tr> 
          </tbody>
        </table>
      </div>
      <div class="col-sm-4 col-xs-4 pre-scrollable box-inner-aula">
        <table class="table table-hover table-responsive">
          <thead>
					  <tr>
						<th>Aula</th>
					  </tr>
					</thead>
          <tbody>
            <tr *ngFor="let aula of aulas$ | coursefilteraula:term | sort:'AULA'">
              <td (click)="buttonAulaClick(aula.AULA)">{{aula.AULA}}</td>
            </tr> 
          </tbody>
        </table>
      </div >
    </div>
    <div class="row">
			<div class="col-sm-12 box-orario" style="display:block; height:100%;">
        <div style="overflow:auto;">
          <h3>{{selitem}}</h3>
          <table *ngIf="selitem" class="table table-bordered table-responsive text-center orario">
            <thead>
              <tr>
                <th></th>
                <th *ngFor="let giorno of objectKeys(orariotable$['07h50'])" style="vertical-align: middle;" [attr.class]="giorno">{{giorno}} </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ora of hours">
                <td>{{ora}}</td>
                <td *ngFor="let giorno of objectKeys(orariotable$[ora])" [attr.id]="ora + ' ' + giorno" [attr.rowspan]="orariotable$[ora][giorno]['DURATA']" style="vertical-align:middle;" [attr.class]="giorno">
                  <div class="materia">{{orariotable$[ora][giorno]['MAT_COD']}}</div>
                  <br>
                  <button class="btn btn-primary btn-md btnDocente" (click)="buttonDocenteClick(orariotable$[ora][giorno]['DOC_COGN_NOME1'])" *ngIf="orariotable$[ora][giorno]['DOC_COGN_NOME1']">{{orariotable$[ora][giorno]["DOC_COGN1"]}}</button>
                  <button class="btn btn-primary btn-md btnDocente" (click)="buttonDocenteClick(orariotable$[ora][giorno]['DOC_COGN_NOME2'])" *ngIf="orariotable$[ora][giorno]['DOC_COGN_NOME2']">{{orariotable$[ora][giorno]["DOC_COGN2"]}}</button>
                  <br>
                  <button class="btn btn-success btn-md btcClasse" (click)="buttonClasseClick(orariotable$[ora][giorno]['CLASSE1'])" *ngIf="orariotable$[ora][giorno]['CLASSE1']">{{orariotable$[ora][giorno]["CLASSE1"]}}</button>
                  <button class="btn btn-success btn-md btcClasse" (click)="buttonClasseClick(orariotable$[ora][giorno]['CLASSE2'])" *ngIf="orariotable$[ora][giorno]['CLASSE2']">{{orariotable$[ora][giorno]["CLASSE2"]}}</button>
                  <br>
                  <button class="btn btn-warning btn-md btnAula" (click)="buttonAulaClick(orariotable$[ora][giorno]['AULA1'])" *ngIf="orariotable$[ora][giorno]['AULA1']">{{orariotable$[ora][giorno]["AULA1"]}}</button>
                  <button class="btn btn-warning btn-md btnAula" (click)="buttonAulaClick(orariotable$[ora][giorno]['AULA2'])" *ngIf="orariotable$[ora][giorno]['AULA2']">{{orariotable$[ora][giorno]["AULA2"]}}</button>
                  <button class="btn btn-warning btn-md btnAula" (click)="buttonAulaClick(orariotable$[ora][giorno]['AULA3'])" *ngIf="orariotable$[ora][giorno]['AULA3']">{{orariotable$[ora][giorno]["AULA3"]}}</button>
                </td>
              </tr> 
            </tbody>
          </table>
        </div>
			</div>
    </div>
  </div>
</div>
<ng-template #noData>No Data Available</ng-template>

